@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --dark-full: #18181b;
    --dark-light: #27272A;
    --dark-shadWhite: #FAFAFA;

    --light-full: #fff;
    --light-dark: #09090B;
    --light-shadGray: #71717A;
}
